.body{
    min-height: 700px;
    width: 100%;
    background-image: url('../img/96622.jpg');
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 0;
    
}

.box{
    width: 80%;
    background: linear-gradient(111.42deg, #B1B1B1 17.4%, rgba(255, 255, 255, 0.5) 90.6%);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px 40px 40px;
}

.title{
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.table{
    width: 80%;
    color: #FFFFFF;
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid black;
}

/*
.alamat p{
    font-size: 24px;
    display: inline-block;
}

.alamat select{
    margin-left: 20px;
}
*/

.detailAlamat p{
    font-size: 24px;
    display: inline-block;
}


.barang p{
    font-size: 24px;
}

.fullname{
    font-size: 24px;
}

.harga{
    margin-top: 20px;
    font-size: 24px;
}

.buy{
    width: 10%;
    background: #008000;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    padding: 15px;
    /* display: inline-block; */
}

.buy:hover{
    background: #006400;
}