.body{
    width: 100%;
    min-height: 800px;
    background-image: url('../img/92-925774_sea-coral-wallpaper-hd.jpg');
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 0;
}

.box{
    width: 80%;
    min-height: 500px;
    background: linear-gradient(180deg, #29264A 0%, rgba(41, 38, 74, 0.5) 100%);
    backdrop-filter: blur(25px);
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 20px;
}

.title{
    padding: 25px 0;
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    /* line-height: 62px; */
    text-align: center;
    color: #FFFFFF;
}

.table{
    width: 80%;
    color: #FFFFFF;
    border-collapse: collapse;
    margin: 10px auto;
    border: 2px solid black;
}

.jumlahBarang{
    margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}

.buy{
    width: 10%;
    padding: 5px;
    border: 2px solid black;
    background: #008000;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
}

.buy:hover{
    background: #006400;
}