.body{
    width: 100%;
    min-height: 700px;
    background-image: url('../img/Deep-sea.jpg');
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 0;
}

.content{
    width: 80%;
    padding: 40px 0;
    background: linear-gradient(111.42deg, #B1B1B1 17.4%, rgba(255, 255, 255, 0.5) 90.6%);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    margin: 0 auto;
    border-radius: 20px;
}

.table{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid black;
    background: #FFFFFF;
}

thead td{
    font-size: 15px;
    font-weight: bold;
}

.title{
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 20px;
}